*{
    margin:0;
}

body{
    font-family:sans-serif;
    text-align:center;
    align-items: center;
    align-content: center;
}

.head{
    width:100%;
    height:17px;
    background-color: #333;    
    padding:15px;
}

a{
    margin-top:-14px;
    float:left;
    width:5%;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

a:hover{
    background-color:#111;
}

.forms{
    margin-top:-14px;
    margin-right:15px;
    padding:1px;
    float:right;
}

.logout-btn{
    float:left;
}

.signup-btn{
    float:left;
}

.login-form{
    float:left;
}

button{
    margin:1px;
    width:75px;
    height:40px;
    font-size:large;
    color:white;
    background:#04AA6D;
    border:none;
    border-radius:5px;
}

button:hover{
    background-color:#048c6d;
}

.signup-btn button{
    background-color:darkgray;
}

.signup-btn button:hover{
    background-color:gray;
}

.login-form input{
    width:180px;
    height:30px;
    background-color:#fff;
    font-size:14px;
    border:1px solid black;
    border-radius:5px;
}

.intro{
    margin-top:15px;
}

.intro h2{
    font-size:40px;
    margin-bottom:10px;
}

.intro p{
    margin-top:20px;
    font-size:20px;
}

.signup-form input{
    width:180px;
    height:30px;
    margin:5px;
    background-color:#fff;
    font-size:14px;
    border:1px solid black;
    border-radius:5px;
}

.signup-form button{
    width:186px;
    height:35px;
    margin:5px;
    font-size:14px;
    border-radius:5px;
}
